# Functions of DataFrame 2

**결측값 처리**

In [48]:
import pandas as pd
from pandas import DataFrame as df
import numpy as np

In [21]:
df_left=df({
    'a':['a0','a1','a2','a3'],
    'b':[0.5,2.2,3.6,0.4],
    'key' : ['k0','k1','k2','k3']})
print(df_left)

    a    b key
0  a0  0.5  k0
1  a1  2.2  k1
2  a2  3.6  k2
3  a3  0.4  k3

In [22]:
df_right=df({
    'c':['c0','c1','c2','c3'],
    'd':['d0','d1','d2','d3'],
    'key' : ['k2', 'k3', 'k4', 'k5']})
print(df_right)

    c   d key
0  c0  d0  k2
1  c1  d1  k3
2  c2  d2  k4
3  c3  d3  k5

In [23]:
df_all=pd.merge(df_left,df_right,how='outer',on='key')

In [24]:
print(df_all)

     a    b key    c    d
0   a0  0.5  k0  NaN  NaN
1   a1  2.2  k1  NaN  NaN
2   a2  3.6  k2   c0   d0
3   a3  0.4  k3   c1   d1
4  NaN  NaN  k4   c2   d2
5  NaN  NaN  k5   c3   d3

In [25]:
print(pd.isnull(df_all))

       a      b    key      c      d
0  False  False  False   True   True
1  False  False  False   True   True
2  False  False  False  False  False
3  False  False  False  False  False
4   True   True  False  False  False
5   True   True  False  False  False

In [26]:
print(df_all.isnull())

       a      b    key      c      d
0  False  False  False   True   True
1  False  False  False   True   True
2  False  False  False  False  False
3  False  False  False  False  False
4   True   True  False  False  False
5   True   True  False  False  False

In [27]:
print(pd.notnull(df_all))

       a      b   key      c      d
0   True   True  True  False  False
1   True   True  True  False  False
2   True   True  True   True   True
3   True   True  True   True   True
4  False  False  True   True   True
5  False  False  True   True   True

In [28]:
print(df_all.notnull())

       a      b   key      c      d
0   True   True  True  False  False
1   True   True  True  False  False
2   True   True  True   True   True
3   True   True  True   True   True
4  False  False  True   True   True
5  False  False  True   True   True

In [29]:
df_all.loc[[0,1],['a','b']]=None

In [30]:
print(df_all)

      a    b key    c    d
0  None  NaN  k0  NaN  NaN
1  None  NaN  k1  NaN  NaN
2    a2  3.6  k2   c0   d0
3    a3  0.4  k3   c1   d1
4   NaN  NaN  k4   c2   d2
5   NaN  NaN  k5   c3   d3

In [31]:
print(df_all[['a','b']].isnull())

       a      b
0   True   True
1   True   True
2  False  False
3  False  False
4   True   True
5   True   True

In [32]:
print(df_all['a'].isnull().sum())

4

In [33]:
print(df_all['a'].notnull().sum())

2

In [34]:
print(df_all.isnull().sum(1))

0    4
1    4
2    0
3    0
4    2
5    2
dtype: int64

In [37]:
df_all['NaN_cnt']=df_all.isnull().sum(1)
df_all['NotNull_cnt']=df_all.notnull().sum(1)
print(df_all)

      a    b key    c    d  NaN_cnt  NotNull_cnt
0  None  NaN  k0  NaN  NaN        4            3
1  None  NaN  k1  NaN  NaN        4            3
2    a2  3.6  k2   c0   d0        0            7
3    a3  0.4  k3   c1   d1        0            7
4   NaN  NaN  k4   c2   d2        2            5
5   NaN  NaN  k5   c3   d3        2            5

=====================================================

In [36]:
df=df(np.arange(10).reshape(5,2),
      index=['a','b','c','d','e'],
      columns=['c1','c2'])
print(df)

   c1  c2
a   0   1
b   2   3
c   4   5
d   6   7
e   8   9

In [39]:
df.loc[['b','e'],['c1']]=None
df.loc[['b','e'],['c2']]=None
print(df)

    c1   c2
a  0.0  1.0
b  NaN  NaN
c  4.0  5.0
d  6.0  7.0
e  NaN  NaN

In [40]:
print(df.sum())

c1    10.0
c2    13.0
dtype: float64

In [41]:
print(df['c1'].sum())

10.0

In [42]:
print(df['c1'].cumsum())

a     0.0
b     NaN
c     4.0
d    10.0
e     NaN
Name: c1, dtype: float64

In [43]:
print(df.mean())

c1    3.333333
c2    4.333333
dtype: float64

In [44]:
print(df.mean(1))

a    0.5
b    NaN
c    4.5
d    6.5
e    NaN
dtype: float64

In [45]:
print(df.std())

c1    3.05505
c2    3.05505
dtype: float64

In [46]:
df['c3']=df['c1']+df['c2']
print(df)

    c1   c2    c3
a  0.0  1.0   1.0
b  NaN  NaN   NaN
c  4.0  5.0   9.0
d  6.0  7.0  13.0
e  NaN  NaN   NaN

=====================================================

In [49]:
df=df(np.random.randn(5,3),columns=['c1','c2','c3'])
print(df)

         c1        c2        c3
0  0.373732 -0.477958 -0.591794
1  0.247666 -1.155183  0.303022
2  0.230102 -1.901203  0.618995
3  0.811976 -1.249957 -0.992747
4 -0.139904  1.386886  1.418356

In [50]:
df.loc[0,0]=None
df.loc[1,['c1','c3']]=np.nan
df.loc[2,'c2']=np.nan
df.loc[3,'c2']=np.nan
df.loc[4,'c3']=np.nan
print(df)

         c1        c2        c3   0
0  0.373732 -0.477958 -0.591794 NaN
1       NaN -1.155183       NaN NaN
2  0.230102       NaN  0.618995 NaN
3  0.811976       NaN -0.992747 NaN
4 -0.139904  1.386886       NaN NaN

In [51]:
df_0=df.fillna(0)
print(df_0)

         c1        c2        c3    0
0  0.373732 -0.477958 -0.591794  0.0
1  0.000000 -1.155183  0.000000  0.0
2  0.230102  0.000000  0.618995  0.0
3  0.811976  0.000000 -0.992747  0.0
4 -0.139904  1.386886  0.000000  0.0

In [52]:
df_missing=df.fillna('missing')
print(df_missing)

         c1        c2        c3        0
0  0.373732 -0.477958 -0.591794  missing
1   missing  -1.15518   missing  missing
2  0.230102   missing  0.618995  missing
3  0.811976   missing -0.992747  missing
4 -0.139904   1.38689   missing  missing

In [53]:
print(df.fillna(method='ffill'))

         c1        c2        c3   0
0  0.373732 -0.477958 -0.591794 NaN
1  0.373732 -1.155183 -0.591794 NaN
2  0.230102 -1.155183  0.618995 NaN
3  0.811976 -1.155183 -0.992747 NaN
4 -0.139904  1.386886 -0.992747 NaN

In [54]:
print(df.fillna(method='pad'))

         c1        c2        c3   0
0  0.373732 -0.477958 -0.591794 NaN
1  0.373732 -1.155183 -0.591794 NaN
2  0.230102 -1.155183  0.618995 NaN
3  0.811976 -1.155183 -0.992747 NaN
4 -0.139904  1.386886 -0.992747 NaN

In [55]:
print(df.fillna(method='bfill'))

         c1        c2        c3   0
0  0.373732 -0.477958 -0.591794 NaN
1  0.230102 -1.155183  0.618995 NaN
2  0.230102  1.386886  0.618995 NaN
3  0.811976  1.386886 -0.992747 NaN
4 -0.139904  1.386886       NaN NaN

In [56]:
print(df.fillna(method='ffill',limit=1))

         c1        c2        c3   0
0  0.373732 -0.477958 -0.591794 NaN
1  0.373732 -1.155183 -0.591794 NaN
2  0.230102 -1.155183  0.618995 NaN
3  0.811976       NaN -0.992747 NaN
4 -0.139904  1.386886 -0.992747 NaN

In [57]:
print(df.mean())

c1    0.318977
c2   -0.082085
c3   -0.321849
0          NaN
dtype: float64

In [58]:
print(df.fillna(df.mean()))

         c1        c2        c3   0
0  0.373732 -0.477958 -0.591794 NaN
1  0.318977 -1.155183 -0.321849 NaN
2  0.230102 -0.082085  0.618995 NaN
3  0.811976 -0.082085 -0.992747 NaN
4 -0.139904  1.386886 -0.321849 NaN

In [59]:
print(df.where(pd.notnull(df),df.mean(),axis='columns'))

         c1        c2        c3   0
0  0.373732 -0.477958 -0.591794 NaN
1  0.318977 -1.155183 -0.321849 NaN
2  0.230102 -0.082085  0.618995 NaN
3  0.811976 -0.082085 -0.992747 NaN
4 -0.139904  1.386886 -0.321849 NaN

In [60]:
print(df.fillna(df.mean()['c1']))

         c1        c2        c3         0
0  0.373732 -0.477958 -0.591794  0.318977
1  0.318977 -1.155183  0.318977  0.318977
2  0.230102  0.318977  0.618995  0.318977
3  0.811976  0.318977 -0.992747  0.318977
4 -0.139904  1.386886  0.318977  0.318977

In [61]:
print(df.mean()['c1':'c2'])

c1    0.318977
c2   -0.082085
dtype: float64

In [62]:
print(df.fillna(df.mean()['c1':'c2']))

         c1        c2        c3   0
0  0.373732 -0.477958 -0.591794 NaN
1  0.318977 -1.155183       NaN NaN
2  0.230102 -0.082085  0.618995 NaN
3  0.811976 -0.082085 -0.992747 NaN
4 -0.139904  1.386886       NaN NaN

=====================================================

In [64]:
df_2=pd.DataFrame({'c1':[1,2,3,4,5],
                   'c2':[6,7,8,9,10]})
df_2.loc[[1,3],['c2']]=np.nan
print(df_2)

   c1    c2
0   1   6.0
1   2   NaN
2   3   8.0
3   4   NaN
4   5  10.0

In [65]:
df_2['c2_new']=np.where(pd.notnull(df_2['c2'])==True, df_2['c2'], df_2['c1'])
print(df_2)

   c1    c2  c2_new
0   1   6.0     6.0
1   2   NaN     2.0
2   3   8.0     8.0
3   4   NaN     4.0
4   5  10.0    10.0