# Functions of DataFrame 8

In [19]:
import pandas as pd
from pandas import DataFrame

In [4]:
pdf=pd.DataFrame({'seq':[1,3,2],
              'neame':['park','lee','choi'],
              'age':[30,20,40]
})

In [6]:
print(pdf)

   seq neame  age
0    1  park   30
1    3   lee   20
2    2  choi   40

In [10]:
print(pdf.sort_values(by=['seq'],axis=0,ascending=True))

   seq neame  age
0    1  park   30
2    2  choi   40
1    3   lee   20

In [9]:
pdf.sort_values(by=['seq'],axis=0,inplace=True)
print(pdf)

   seq neame  age
0    1  park   30
2    2  choi   40
1    3   lee   20

==================================================================

In [11]:
import numpy as np

In [12]:
pdf=pd.DataFrame({'seq':[1,3,np.nan],
              'neame':['park','lee','choi'],
              'age':[30,20,40]
})
print(pdf)

   seq neame  age
0  1.0  park   30
1  3.0   lee   20
2  NaN  choi   40

In [14]:
pdf.sort_values(by=['seq'],axis=0,inplace=True,na_position='first')
print(pdf)

   seq neame  age
2  NaN  choi   40
0  1.0  park   30
1  3.0   lee   20

In [15]:
pdf.sort_values(by=['seq'],axis=0,inplace=True,na_position='last')
print(pdf)

   seq neame  age
0  1.0  park   30
1  3.0   lee   20
2  NaN  choi   40

==================================================================

In [16]:
pt=[(1,'park',30),
    (3,'lee',20),
    (2,'choi',40)]
print(pt)

[(1, 'park', 30), (3, 'lee', 20), (2, 'choi', 40)]

In [24]:
print(sorted(pt, key=lambda ptf:ptf[0]))

[(1, 'park', 30), (2, 'choi', 40), (3, 'lee', 20)]

In [26]:
print(sorted(pt, reverse=True, key=lambda ptf:ptf[1]))

[(1, 'park', 30), (3, 'lee', 20), (2, 'choi', 40)]

In [27]:
print(sorted(pt,key=lambda ptf:ptf[2]))

[(3, 'lee', 20), (1, 'park', 30), (2, 'choi', 40)]

==================================================================

In [28]:
mlist=[9,4,1,2,7]
print(mlist)

[9, 4, 1, 2, 7]

In [30]:
print(sorted(mlist))

[1, 2, 4, 7, 9]

In [31]:
mlist.sort()
print(mlist)

[1, 2, 4, 7, 9]

==================================================================

In [32]:
Seri=pd.Series([10.,11.,12.,13.,14.])
print(Seri)

0    10.0
1    11.0
2    12.0
3    13.0
4    14.0
dtype: float64

In [33]:
print(Seri[3])

13.0

In [34]:
print(Seri[:3])

0    10.0
1    11.0
2    12.0
dtype: float64

In [35]:
print(Seri[Seri>=Seri.mean()])

2    12.0
3    13.0
4    14.0
dtype: float64

In [36]:
print(Seri[[3,4,2]])

3    13.0
4    14.0
2    12.0
dtype: float64

==================================================================

In [37]:
Seri_ix=pd.Series([10.,11.,12.,13.,14.],
               index=['a','b','c','d','e'])
print(Seri_ix)

a    10.0
b    11.0
c    12.0
d    13.0
e    14.0
dtype: float64

In [39]:
print(Seri_ix[['c','d','b']])

c    12.0
d    13.0
b    11.0
dtype: float64

In [40]:
print(Seri_ix.get(['c','d','b']))

c    12.0
d    13.0
b    11.0
dtype: float64

In [41]:
Seri_ix['c']=100
print(Seri_ix)

a     10.0
b     11.0
c    100.0
d     13.0
e     14.0
dtype: float64

In [42]:
print('x' in Seri_ix)

False

==================================================================

In [43]:
Seri=pd.Series(np.nan, index=[19,18,17,16,15,1,2,3,4,5])
print(Seri)

19   NaN
18   NaN
17   NaN
16   NaN
15   NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
dtype: float64

In [44]:
print(Seri.iloc[:3])

19   NaN
18   NaN
17   NaN
dtype: float64

In [45]:
print(Seri.loc[:3])

19   NaN
18   NaN
17   NaN
16   NaN
15   NaN
1    NaN
2    NaN
3    NaN
dtype: float64

In [46]:
print(Seri.ix[:3])

19   NaN
18   NaN
17   NaN
16   NaN
15   NaN
1    NaN
2    NaN
3    NaN
dtype: float64

C:\Users\403-6\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

==================================================================

In [47]:
df=DataFrame({'c1':[0,1,2,3],
              'c2':[4,5,6,7],
              'c3':[8,9,10,np.nan]},
             index=['r1','r2','r3','r4'])
print(df)
print(df.index)
print(df.columns)

    c1  c2    c3
r1   0   4   8.0
r2   1   5   9.0
r3   2   6  10.0
r4   3   7   NaN
Index(['r1', 'r2', 'r3', 'r4'], dtype='object')
Index(['c1', 'c2', 'c3'], dtype='object')

In [48]:
df_r1=DataFrame(df,index=['r1','r3'])
print(df_r1)

    c1  c2    c3
r1   0   4   8.0
r3   2   6  10.0

In [49]:
df_c1=DataFrame(df,columns=['c1','c3'])
print(df_c1)

    c1    c3
r1   0   8.0
r2   1   9.0
r3   2  10.0
r4   3   NaN

In [50]:
df_ex=DataFrame(df,index=['r3','r1'],columns=['c3','c1'])
print(df_ex)

      c3  c1
r3  10.0   2
r1   8.0   0

In [51]:
print(df[['c1','c3']])

    c1    c3
r1   0   8.0
r2   1   9.0
r3   2  10.0
r4   3   NaN

In [52]:
df['csum']=df['c1']+df['c2']
print(df)

    c1  c2    c3  csum
r1   0   4   8.0     4
r2   1   5   9.0     6
r3   2   6  10.0     8
r4   3   7   NaN    10

In [53]:
df=df.assign(cmul=df['c1']*df['c2'])
print(df)

    c1  c2    c3  csum  cmul
r1   0   4   8.0     4     0
r2   1   5   9.0     6     5
r3   2   6  10.0     8    12
r4   3   7   NaN    10    21

In [73]:
df=df.assign(cmul2=lambda x:x.c1*x.c2)
print(df)

    c1  c2    c3  cmul  cmul2
r1   0   4   8.0     0      0
r2   1   5   9.0     5      5
r3   2   6  10.0    12     12
r4   3   7   NaN    21     21

In [74]:
print(df.drop(['cmul','cmul2'],1))

    c1  c2    c3
r1   0   4   8.0
r2   1   5   9.0
r3   2   6  10.0
r4   3   7   NaN

In [75]:
print(df.drop(['r1','r3']))

    c1  c2   c3  cmul  cmul2
r2   1   5  9.0     5      5
r4   3   7  NaN    21     21

In [78]:
print(df['c1'])

r1    0
r2    1
r3    2
r4    3
Name: c1, dtype: int64

In [79]:
print(df.c1)

r1    0
r2    1
r3    2
r4    3
Name: c1, dtype: int64

In [80]:
print(df[0:2])

    c1  c2   c3  cmul  cmul2
r1   0   4  8.0     0      0
r2   1   5  9.0     5      5

In [81]:
print(df['c1'][0:2])

r1    0
r2    1
Name: c1, dtype: int64

In [82]:
print(df.loc['r1'])

c1       0.0
c2       4.0
c3       8.0
cmul     0.0
cmul2    0.0
Name: r1, dtype: float64

In [83]:
print(df.loc[['r1','r2']])

    c1  c2   c3  cmul  cmul2
r1   0   4  8.0     0      0
r2   1   5  9.0     5      5

In [84]:
print(df.iloc[0:2])

    c1  c2   c3  cmul  cmul2
r1   0   4  8.0     0      0
r2   1   5  9.0     5      5

In [85]:
print(df[df['c1']<=1])

    c1  c2   c3  cmul  cmul2
r1   0   4  8.0     0      0
r2   1   5  9.0     5      5

In [86]:
s=['c1','c2']
print(df[s])

    c1  c2
r1   0   4
r2   1   5
r3   2   6
r4   3   7