# Functions of DataFrame 7

**이산화**

In [16]:
import numpy as np
import pandas as pd
from pandas import DataFrame
np.random.seed(777)

In [2]:
df=DataFrame({'c1':np.random.randn(20),
           'c2':['a','a','a','a','a','a','a','a','a','a',
                 'b','b','b','b','b','b','b','b','b','b']})
print(df)

          c1 c2
0  -0.468209  a
1  -0.822825  a
2  -0.065380  a
3  -0.713362  a
4   0.906351  a
5   0.766237  a
6   0.826054  a
7  -1.323683  a
8  -1.752445  a
9   1.002449  a
10  0.544809  b
11  1.895161  b
12 -0.769357  b
13 -1.403096  b
14 -0.632468  b
15 -0.558874  b
16 -1.233231  b
17 -0.439504  b
18  0.914787  b
19  0.265041  b

In [3]:
bins=np.linspace(df.c1.min(),df.c1.max(),10)
df['c1_bin']=np.digitize(df['c1'],bins)
print(df)

          c1 c2  c1_bin
0  -0.468209  a       4
1  -0.822825  a       3
2  -0.065380  a       5
3  -0.713362  a       3
4   0.906351  a       7
5   0.766237  a       7
6   0.826054  a       7
7  -1.323683  a       2
8  -1.752445  a       1
9   1.002449  a       7
10  0.544809  b       6
11  1.895161  b      10
12 -0.769357  b       3
13 -1.403096  b       1
14 -0.632468  b       3
15 -0.558874  b       3
16 -1.233231  b       2
17 -0.439504  b       4
18  0.914787  b       7
19  0.265041  b       5

In [4]:
print(df.groupby('c1_bin')['c1'].size())

c1_bin
1     2
2     2
3     5
4     2
5     2
6     1
7     5
10    1
Name: c1, dtype: int64

In [5]:
print(df.groupby('c1_bin')['c1'].mean())

c1_bin
1    -1.577770
2    -1.278457
3    -0.699377
4    -0.453856
5     0.099830
6     0.544809
7     0.883176
10    1.895161
Name: c1, dtype: float64

In [6]:
print(df.groupby('c1_bin')['c1'].std())

c1_bin
1     0.247027
2     0.063959
3     0.105535
4     0.020298
5     0.233643
6          NaN
7     0.090416
10         NaN
Name: c1, dtype: float64

In [7]:
print(df.groupby('c1_bin')['c2'].value_counts())

c1_bin  c2
1       a     1
        b     1
2       a     1
        b     1
3       b     3
        a     2
4       a     1
        b     1
5       a     1
        b     1
6       b     1
7       a     4
        b     1
10      b     1
Name: c2, dtype: int64

In [8]:
print(df[df['c1_bin']==2])

          c1 c2  c1_bin
7  -1.323683  a       2
16 -1.233231  b       2

In [9]:
print(pd.get_dummies(df['c1_bin'],prefix='c1'))

    c1_1  c1_2  c1_3  c1_4  c1_5  c1_6  c1_7  c1_10
0      0     0     0     1     0     0     0      0
1      0     0     1     0     0     0     0      0
2      0     0     0     0     1     0     0      0
3      0     0     1     0     0     0     0      0
4      0     0     0     0     0     0     1      0
5      0     0     0     0     0     0     1      0
6      0     0     0     0     0     0     1      0
7      0     1     0     0     0     0     0      0
8      1     0     0     0     0     0     0      0
9      0     0     0     0     0     0     1      0
10     0     0     0     0     0     1     0      0
11     0     0     0     0     0     0     0      1
12     0     0     1     0     0     0     0      0
13     1     0     0     0     0     0     0      0
14     0     0     1     0     0     0     0      0
15     0     0     1     0     0     0     0      0
16     0     1     0     0     0     0     0      0
17     0     0     0     1     0     0     0      0
18     0     0     0     0     0     0     1      0
19     0     0     0     0     1     0     0      0

In [10]:
print(df.c1.mean())

-0.15307715643591518

In [11]:
df['high_low']=np.where(df['c1']>=df.c1.mean(),'high','low')
print(df)

          c1 c2  c1_bin high_low
0  -0.468209  a       4      low
1  -0.822825  a       3      low
2  -0.065380  a       5     high
3  -0.713362  a       3      low
4   0.906351  a       7     high
5   0.766237  a       7     high
6   0.826054  a       7     high
7  -1.323683  a       2      low
8  -1.752445  a       1      low
9   1.002449  a       7     high
10  0.544809  b       6     high
11  1.895161  b      10     high
12 -0.769357  b       3      low
13 -1.403096  b       1      low
14 -0.632468  b       3      low
15 -0.558874  b       3      low
16 -1.233231  b       2      low
17 -0.439504  b       4      low
18  0.914787  b       7     high
19  0.265041  b       5     high

In [12]:
print(df.groupby('high_low')['c1'].size())

high_low
high     9
low     11
Name: c1, dtype: int64

In [13]:
print(df.groupby('high_low')['c1'].mean())

high_low
high    0.783945
low    -0.919732
Name: c1, dtype: float64

In [14]:
print(df.groupby('high_low')['c1'].std())

high_low
high    0.543661
low     0.437074
Name: c1, dtype: float64

In [15]:
Q1=np.percentile(df['c1'],25)
Q3=np.percentile(df['c1'],75)
df['h_m_l']=np.where(df['c1']>=Q3, '01_high',np.where(df['c1']>=Q1, '02_median', '03_low'))
print(df)

          c1 c2  c1_bin high_low      h_m_l
0  -0.468209  a       4      low  02_median
1  -0.822825  a       3      low     03_low
2  -0.065380  a       5     high  02_median
3  -0.713362  a       3      low  02_median
4   0.906351  a       7     high    01_high
5   0.766237  a       7     high  02_median
6   0.826054  a       7     high    01_high
7  -1.323683  a       2      low     03_low
8  -1.752445  a       1      low     03_low
9   1.002449  a       7     high    01_high
10  0.544809  b       6     high  02_median
11  1.895161  b      10     high    01_high
12 -0.769357  b       3      low  02_median
13 -1.403096  b       1      low     03_low
14 -0.632468  b       3      low  02_median
15 -0.558874  b       3      low  02_median
16 -1.233231  b       2      low     03_low
17 -0.439504  b       4      low  02_median
18  0.914787  b       7     high    01_high
19  0.265041  b       5     high  02_median

**재구조화 : reshaping**

In [17]:
data=DataFrame({'cust_id': ['c1', 'c1', 'c1', 'c2', 'c2', 'c2', 'c3', 'c3', 'c3'],
            'prod_cd': ['p1', 'p2', 'p3', 'p1', 'p2', 'p3', 'p1', 'p2', 'p3'],
            'grade' : ['A', 'A', 'A', 'A', 'A', 'A', 'B', 'B', 'B'],
            'pch_amt': [30, 10, 0, 40, 15, 30, 0, 0, 10]})
print(data)

  cust_id prod_cd grade  pch_amt
0      c1      p1     A       30
1      c1      p2     A       10
2      c1      p3     A        0
3      c2      p1     A       40
4      c2      p2     A       15
5      c2      p3     A       30
6      c3      p1     B        0
7      c3      p2     B        0
8      c3      p3     B       10

In [18]:
dp=data.pivot(index='cust_id',columns='prod_cd',values='pch_amt')
print(dp)

prod_cd  p1  p2  p3
cust_id
c1       30  10   0
c2       40  15  30
c3        0   0  10

In [19]:
dp=pd.pivot_table(data,index='cust_id',columns='prod_cd',values='pch_amt')
print(dp)

prod_cd  p1  p2  p3
cust_id
c1       30  10   0
c2       40  15  30
c3        0   0  10

In [22]:
dp=pd.pivot_table(data,index=['cust_id','grade'],columns='prod_cd',
                  values='pch_amt')
print(dp)

prod_cd        p1  p2  p3
cust_id grade
c1      A      30  10   0
c2      A      40  15  30
c3      B       0   0  10

=======================================================

In [23]:
mul_index=pd.MultiIndex.from_tuples([('cust_1', '2018'),
                           ('cust_1', '2019'),
                           ('cust_2', '2018'),
                           ('cust_2', '2019'),])
print(mul_index)

MultiIndex(levels=[['cust_1', 'cust_2'], ['2018', '2019']],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [24]:
data=DataFrame(data=np.arange(16).reshape(4,4),index=mul_index,
               columns=['prd_1','prd_2','prd_3','prd_4'],dtype='int')
print(data)

             prd_1  prd_2  prd_3  prd_4
cust_1 2018      0      1      2      3
       2019      4      5      6      7
cust_2 2018      8      9     10     11
       2019     12     13     14     15

In [25]:
data_stacked=data.stack()
print(data_stacked)

cust_1  2018  prd_1     0
              prd_2     1
              prd_3     2
              prd_4     3
        2019  prd_1     4
              prd_2     5
              prd_3     6
              prd_4     7
cust_2  2018  prd_1     8
              prd_2     9
              prd_3    10
              prd_4    11
        2019  prd_1    12
              prd_2    13
              prd_3    14
              prd_4    15
dtype: int32

In [27]:
print(data_stacked.index)

MultiIndex(levels=[['cust_1', 'cust_2'], ['2018', '2019'], ['prd_1', 'prd_2', 'prd_3', 'prd_4']],
           labels=[[0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1], [0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1], [0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3]])

In [28]:
print(data_stacked['cust_2']['2018'][['prd_1','prd_2']])

prd_1    8
prd_2    9
dtype: int32

In [29]:
data.loc['cust_2','prd_4']=np.nan
print(data)

             prd_1  prd_2  prd_3  prd_4
cust_1 2018      0      1      2    3.0
       2019      4      5      6    7.0
cust_2 2018      8      9     10    NaN
       2019     12     13     14    NaN

In [30]:
print(data.stack())

cust_1  2018  prd_1     0.0
              prd_2     1.0
              prd_3     2.0
              prd_4     3.0
        2019  prd_1     4.0
              prd_2     5.0
              prd_3     6.0
              prd_4     7.0
cust_2  2018  prd_1     8.0
              prd_2     9.0
              prd_3    10.0
        2019  prd_1    12.0
              prd_2    13.0
              prd_3    14.0
dtype: float64

In [31]:
print(data.stack(dropna=False))

cust_1  2018  prd_1     0.0
              prd_2     1.0
              prd_3     2.0
              prd_4     3.0
        2019  prd_1     4.0
              prd_2     5.0
              prd_3     6.0
              prd_4     7.0
cust_2  2018  prd_1     8.0
              prd_2     9.0
              prd_3    10.0
              prd_4     NaN
        2019  prd_1    12.0
              prd_2    13.0
              prd_3    14.0
              prd_4     NaN
dtype: float64

In [32]:
print(data_stacked)

cust_1  2018  prd_1     0
              prd_2     1
              prd_3     2
              prd_4     3
        2019  prd_1     4
              prd_2     5
              prd_3     6
              prd_4     7
cust_2  2018  prd_1     8
              prd_2     9
              prd_3    10
              prd_4    11
        2019  prd_1    12
              prd_2    13
              prd_3    14
              prd_4    15
dtype: int32

In [33]:
print(data_stacked.unstack(level=-1))

             prd_1  prd_2  prd_3  prd_4
cust_1 2018      0      1      2      3
       2019      4      5      6      7
cust_2 2018      8      9     10     11
       2019     12     13     14     15

In [34]:
print(data_stacked.unstack(level=0))

            cust_1  cust_2
2018 prd_1       0       8
     prd_2       1       9
     prd_3       2      10
     prd_4       3      11
2019 prd_1       4      12
     prd_2       5      13
     prd_3       6      14
     prd_4       7      15

In [35]:
print(data_stacked.unstack(level=1))

              2018  2019
cust_1 prd_1     0     4
       prd_2     1     5
       prd_3     2     6
       prd_4     3     7
cust_2 prd_1     8    12
       prd_2     9    13
       prd_3    10    14
       prd_4    11    15

In [36]:
data_stacked_unstacked=data_stacked.unstack(level=-1)
print(data_stacked_unstacked)

             prd_1  prd_2  prd_3  prd_4
cust_1 2018      0      1      2      3
       2019      4      5      6      7
cust_2 2018      8      9     10     11
       2019     12     13     14     15

In [37]:
print(type(data_stacked_unstacked))

<class 'pandas.core.frame.DataFrame'>

In [39]:
dsu_df=data_stacked_unstacked.reset_index()
print(dsu_df)

  level_0 level_1  prd_1  prd_2  prd_3  prd_4
0  cust_1    2018      0      1      2      3
1  cust_1    2019      4      5      6      7
2  cust_2    2018      8      9     10     11
3  cust_2    2019     12     13     14     15

In [40]:
dsu_df=dsu_df.rename(columns={'level_0':'custID',
                             'level_1':'year'})
print(dsu_df)

   custID  year  prd_1  prd_2  prd_3  prd_4
0  cust_1  2018      0      1      2      3
1  cust_1  2019      4      5      6      7
2  cust_2  2018      8      9     10     11
3  cust_2  2019     12     13     14     15

=======================================================

In [41]:
data=DataFrame({'cust_id': ['c1', 'c1', 'c2', 'c2'],
            'prod_cd': ['p1', 'p2', 'p1', 'p2'],
            'pch_cnt' : [1,2,3,4],
            'pch_amt': [100,200,300,400]})
print(data)

  cust_id prod_cd  pch_cnt  pch_amt
0      c1      p1        1      100
1      c1      p2        2      200
2      c2      p1        3      300
3      c2      p2        4      400

In [42]:
print(pd.melt(data))

   variable value
0   cust_id    c1
1   cust_id    c1
2   cust_id    c2
3   cust_id    c2
4   prod_cd    p1
5   prod_cd    p2
6   prod_cd    p1
7   prod_cd    p2
8   pch_cnt     1
9   pch_cnt     2
10  pch_cnt     3
11  pch_cnt     4
12  pch_amt   100
13  pch_amt   200
14  pch_amt   300
15  pch_amt   400

In [44]:
print(pd.melt(data,id_vars=['cust_id','prod_cd']))

  cust_id prod_cd variable  value
0      c1      p1  pch_cnt      1
1      c1      p2  pch_cnt      2
2      c2      p1  pch_cnt      3
3      c2      p2  pch_cnt      4
4      c1      p1  pch_amt    100
5      c1      p2  pch_amt    200
6      c2      p1  pch_amt    300
7      c2      p2  pch_amt    400

In [45]:
data_melt=pd.melt(data,id_vars=['cust_id','prod_cd'],
                  var_name='pch_cd',
                  value_name='pch_value')
print(data_melt)

  cust_id prod_cd   pch_cd  pch_value
0      c1      p1  pch_cnt          1
1      c1      p2  pch_cnt          2
2      c2      p1  pch_cnt          3
3      c2      p2  pch_cnt          4
4      c1      p1  pch_amt        100
5      c1      p2  pch_amt        200
6      c2      p1  pch_amt        300
7      c2      p2  pch_amt        400

In [46]:
print(data_melt.index)

RangeIndex(start=0, stop=8, step=1)

In [49]:
print(data_melt.columns)

Index(['cust_id', 'prod_cd', 'pch_cd', 'pch_value'], dtype='object')

=======================================================

In [48]:
data_melt_pivot=pd.pivot_table(data_melt,index=['cust_id','prod_cd'],
                               columns='pch_cd',values='pch_value')
print(data_melt_pivot)

pch_cd           pch_amt  pch_cnt
cust_id prod_cd
c1      p1           100        1
        p2           200        2
c2      p1           300        3
        p2           400        4

In [50]:
print(data_melt_pivot.index)

MultiIndex(levels=[['c1', 'c2'], ['p1', 'p2']],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]],
           names=['cust_id', 'prod_cd'])

In [51]:
print(data_melt_pivot.columns)

Index(['pch_amt', 'pch_cnt'], dtype='object', name='pch_cd')