# Functions of DataFrame 1

In [14]:
import pandas as pd
from pandas import DataFrame as df
from pandas import Series

**ignore_index**

In [2]:
df_5=df({
    'a':['a0','a1','a2'],
    'b':['b0','b1','b2'],
    'c':['c0','c1','c2'],
    'd':['d0','d1','d2']},
    index=['r0','r1','r2'])
print(df_5)

     a   b   c   d
r0  a0  b0  c0  d0
r1  a1  b1  c1  d1
r2  a2  b2  c2  d2

In [3]:
df_6=df({
    'a': ['a3', 'a4', 'a5'],
    'b': ['b3', 'b4', 'b5'],
    'c': ['c3', 'c4', 'c5'],
    'd': ['d3', 'd4', 'd5']},
    index=['r3','r4','r5'])
print(df_6)

     a   b   c   d
r3  a3  b3  c3  d3
r4  a4  b4  c4  d4
r5  a5  b5  c5  d5

In [4]:
df_56_with_index=pd.concat([df_5,df_6],ignore_index=False, keys=['df5','df6'], 
                           names=['df_name','row_number'])
print(df_56_with_index)

                     a   b   c   d
df_name row_number
df5     r0          a0  b0  c0  d0
        r1          a1  b1  c1  d1
        r2          a2  b2  c2  d2
df6     r3          a3  b3  c3  d3
        r4          a4  b4  c4  d4
        r5          a5  b5  c5  d5

In [6]:
print(df_56_with_index.loc['df5'])

             a   b   c   d
row_number
r0          a0  b0  c0  d0
r1          a1  b1  c1  d1
r2          a2  b2  c2  d2

In [7]:
print(df_56_with_index.loc['df5'][0:2])

             a   b   c   d
row_number
r0          a0  b0  c0  d0
r1          a1  b1  c1  d1

**verify_integrity**

In [8]:
df_7=df({
    'a':['a0','a1','a2'],
    'b':['b0','b1','b2'],
    'c':['c0','c1','c2'],
    'd':['d0','d1','d2']},
    index=['r0','r1','r2'])
print(df_7)

     a   b   c   d
r0  a0  b0  c0  d0
r1  a1  b1  c1  d1
r2  a2  b2  c2  d2

In [9]:
df_8=df({
    'a': ['a3', 'a4', 'a5'],
    'b': ['b3', 'b4', 'b5'],
    'c': ['c3', 'c4', 'c5'],
    'd': ['d3', 'd4', 'd5']},
    index=['r2','r3','r4'])
print(df_8)

     a   b   c   d
r2  a3  b3  c3  d3
r3  a4  b4  c4  d4
r4  a5  b5  c5  d5

In [10]:
df_78=pd.concat([df_7,df_8], verify_integrity=False)
print(df_78)

     a   b   c   d
r0  a0  b0  c0  d0
r1  a1  b1  c1  d1
r2  a2  b2  c2  d2
r2  a3  b3  c3  d3
r3  a4  b4  c4  d4
r4  a5  b5  c5  d5

**DataFrame + Series**

In [12]:
df_1=df({
    'a':['a0','a1','a2'],
    'b':['b0','b1','b2'],
    'c':['c0','c1','c2'],
    'd':['d0','d1','d2']},
    index=[0,1,2])
print(df_1)

    a   b   c   d
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2

In [17]:
Series_1=pd.Series(['S1','S2','S3'],name='S')
print(Series_1)

0    S1
1    S2
2    S3
Name: S, dtype: object

In [16]:
print(pd.concat([df_1, Series_1]))

     a    b    c    d    0
0   a0   b0   c0   d0  NaN
1   a1   b1   c1   d1  NaN
2   a2   b2   c2   d2  NaN
0  NaN  NaN  NaN  NaN   S1
1  NaN  NaN  NaN  NaN   S2
2  NaN  NaN  NaN  NaN   S3

In [18]:
print(pd.concat([df_1, Series_1],axis=1))

    a   b   c   d   S
0  a0  b0  c0  d0  S1
1  a1  b1  c1  d1  S2
2  a2  b2  c2  d2  S3

In [20]:
print(pd.concat([df_1, Series_1],axis=1,ignore_index=True))

    0   1   2   3   4
0  a0  b0  c0  d0  S1
1  a1  b1  c1  d1  S2
2  a2  b2  c2  d2  S3

**Series + Series**

In [21]:
Series_1=pd.Series(['S1','S2','S3'],name='S')
Series_2=pd.Series([0,1,2])
Series_3=pd.Series([3,4,5])

In [22]:
print(pd.concat([Series_1,Series_2,Series_3],axis=1))

    S  0  1
0  S1  0  3
1  S2  1  4
2  S3  2  5

In [23]:
print(pd.concat([Series_1, Series_2,Series_3],axis=1,keys=['c0','c1','c2']))

   c0  c1  c2
0  S1   0   3
1  S2   1   4
2  S3   2   5

In [25]:
df_1=df({
    'a':['a0','a1','a2'],
    'b':['b0','b1','b2'],
    'c':['c0','c1','c2'],
    'd':['d0','d1','d2']},
    index=[0,1,2])
print(df_1)

    a   b   c   d
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2

In [26]:
Series_4=pd.Series(['S1','S2','S3','S4'],
                   index=['a','b','c','e'])
print(Series_4)

a    S1
b    S2
c    S3
e    S4
dtype: object

In [27]:
print(df_1.append(Series_4,ignore_index=True))

    a   b   c    d    e
0  a0  b0  c0   d0  NaN
1  a1  b1  c1   d1  NaN
2  a2  b2  c2   d2  NaN
3  S1  S2  S3  NaN   S4

**DataFrame + DataFrame & merge**

In [28]:
df_left=df({
    'KEY':['a0','a1','a2','a3'],
    'b':['b0','b1','b2','b3'],
    'c':['c0','c1','c2','c3']})
print(df_left)

  KEY   b   c
0  a0  b0  c0
1  a1  b1  c1
2  a2  b2  c2
3  a3  b3  c3

In [29]:
df_right=df({
    'KEY':['a2','a3','a4','a5'],
    'd':['d0','d1','d2','d3'],
    'e':['e0','e1','e2','e3']})
print(df_right)

  KEY   d   e
0  a2  d0  e0
1  a3  d1  e1
2  a4  d2  e2
3  a5  d3  e3

In [30]:
df_merge_how_left=pd.merge(df_left,df_right)
print(df_merge_how_left)

  KEY   b   c   d   e
0  a2  b2  c2  d0  e0
1  a3  b3  c3  d1  e1

In [31]:
df_merge_how_left=pd.merge(df_left,df_right,how='left')
print(df_merge_how_left)

  KEY   b   c    d    e
0  a0  b0  c0  NaN  NaN
1  a1  b1  c1  NaN  NaN
2  a2  b2  c2   d0   e0
3  a3  b3  c3   d1   e1

In [32]:
df_merge_how_left=pd.merge(df_left,df_right,how='right',on='KEY')
print(df_merge_how_left)

  KEY    b    c   d   e
0  a2   b2   c2  d0  e0
1  a3   b3   c3  d1  e1
2  a4  NaN  NaN  d2  e2
3  a5  NaN  NaN  d3  e3

In [33]:
df_merge_how_inner=pd.merge(df_left,df_right,how='inner',on='KEY')
print(df_merge_how_inner)

  KEY   b   c   d   e
0  a2  b2  c2  d0  e0
1  a3  b3  c3  d1  e1

In [39]:
df_merge_how_outer=pd.merge(df_left,df_right,how='outer',on='KEY',indicator=True)
print(df_merge_how_outer)

  KEY    b    c    d    e      _merge
0  a0   b0   c0  NaN  NaN   left_only
1  a1   b1   c1  NaN  NaN   left_only
2  a2   b2   c2   d0   e0        both
3  a3   b3   c3   d1   e1        both
4  a4  NaN  NaN   d2   e2  right_only
5  a5  NaN  NaN   d3   e3  right_only

===============================================================

In [36]:
df_left_2=df({
    'KEY':['a0','a1','a2','a3'],
    'a':['b0','b1','b2','b3'],
    'b':['b0','b1','b2','b3'],
    'c':['c0','c1','c2','c3']})
print(df_left_2)

  KEY   a   b   c
0  a0  b0  b0  c0
1  a1  b1  b1  c1
2  a2  b2  b2  c2
3  a3  b3  b3  c3

In [37]:
df_right_2=df({
    'KEY':['a2','a3','a4','a5'],
    'b':['b0','b1','b2','b3'],
    'c':['d0','d1','d2','d3'],
    'd':['e0','e1','e2','e3']})
print(df_right_2)

  KEY   b   c   d
0  a2  b0  d0  e0
1  a3  b1  d1  e1
2  a4  b2  d2  e2
3  a5  b3  d3  e3

In [38]:
print(pd.merge(df_left_2,df_right_2,how='inner',on='KEY',
               suffixes=('_left','_right')))

  KEY   a b_left c_left b_right c_right   d
0  a2  b2     b2     c2      b0      d0  e0
1  a3  b3     b3     c3      b1      d1  e1

===============================================================

In [40]:
merge_left=df({
    'a':['a0','a1','a2','a3'],
    'b':['b0','b1','b2','b3']},
    index=['k0','k1','k2','k3'])
print(merge_left)

     a   b
k0  a0  b0
k1  a1  b1
k2  a2  b2
k3  a3  b3

In [41]:
merge_right=df({
    'c':['c0','c1','c2','c3'],
    'd':['d0','d1','d2','d3']},
    index=['k2', 'k3', 'k4', 'k5'])
print(merge_right)

     c   d
k2  c0  d0
k3  c1  d1
k4  c2  d2
k5  c3  d3

In [42]:
print(pd.merge(merge_left,merge_right,left_index=True,
               right_index=True,how='left'))

     a   b    c    d
k0  a0  b0  NaN  NaN
k1  a1  b1  NaN  NaN
k2  a2  b2   c0   d0
k3  a3  b3   c1   d1

In [43]:
print(merge_left.join(merge_right,how='left'))

     a   b    c    d
k0  a0  b0  NaN  NaN
k1  a1  b1  NaN  NaN
k2  a2  b2   c0   d0
k3  a3  b3   c1   d1

In [44]:
print(merge_left.join(merge_right,how='inner'))

     a   b   c   d
k2  a2  b2  c0  d0
k3  a3  b3  c1  d1

In [46]:
print(merge_left.join(merge_right,how='outer'))

      a    b    c    d
k0   a0   b0  NaN  NaN
k1   a1   b1  NaN  NaN
k2   a2   b2   c0   d0
k3   a3   b3   c1   d1
k4  NaN  NaN   c2   d2
k5  NaN  NaN   c3   d3