In [1]:
import pandas as pd
from pandas import DataFrame, Series
import numpy as np
import json

In [2]:
abalone=pd.read_csv("abalone.txt", sep=",", names=['Sex','Length','Diam','Height',
                    'Whole_Weight','Shucked_Weight','Viscera_Weight','Shell_Weight','Rings'],
                   header=None)

In [4]:
print(abalone[:5])

  Sex  Length   Diam  Height  Whole_Weight  Shucked_Weight  Viscera_Weight  \
0   M   0.455  0.365   0.095        0.5140          0.2245          0.1010
1   M   0.350  0.265   0.090        0.2255          0.0995          0.0485
2   F   0.530  0.420   0.135        0.6770          0.2565          0.1415
3   M   0.440  0.365   0.125        0.5160          0.2155          0.1140
4   I   0.330  0.255   0.080        0.2050          0.0895          0.0395

   Shell_Weight  Rings
0         0.150     15
1         0.070      7
2         0.210      9
3         0.155     10
4         0.055      7

In [5]:
print(np.sum(pd.isnull(abalone)))

Sex               0
Length            0
Diam              0
Height            0
Whole_Weight      0
Shucked_Weight    0
Viscera_Weight    0
Shell_Weight      0
Rings             0
dtype: int64

In [6]:
print(abalone.describe())

            Length         Diam       Height  Whole_Weight  Shucked_Weight  \
count  4177.000000  4177.000000  4177.000000   4177.000000     4177.000000
mean      0.523992     0.407881     0.139516      0.828742        0.359367
std       0.120093     0.099240     0.041827      0.490389        0.221963
min       0.075000     0.055000     0.000000      0.002000        0.001000
25%       0.450000     0.350000     0.115000      0.441500        0.186000
50%       0.545000     0.425000     0.140000      0.799500        0.336000
75%       0.615000     0.480000     0.165000      1.153000        0.502000
max       0.815000     0.650000     1.130000      2.825500        1.488000

       Viscera_Weight  Shell_Weight        Rings
count     4177.000000   4177.000000  4177.000000
mean         0.180594      0.238831     9.933684
std          0.109614      0.139203     3.224169
min          0.000500      0.001500     1.000000
25%          0.093500      0.130000     8.000000
50%          0.171000      0.234000     9.000000
75%          0.253000      0.329000    11.000000
max          0.760000      1.005000    29.000000

In [8]:
grouped=abalone['Whole_Weight'].groupby(abalone['Sex'])
print(grouped.size())

Sex
F    1307
I    1342
M    1528
Name: Whole_Weight, dtype: int64

In [9]:
print(grouped.sum())

Sex
F    1367.8175
I     578.8885
M    1514.9500
Name: Whole_Weight, dtype: float64

In [10]:
print(grouped.mean())

Sex
F    1.046532
I    0.431363
M    0.991459
Name: Whole_Weight, dtype: float64

In [11]:
print(abalone.groupby(abalone['Sex']).mean())

       Length      Diam    Height  Whole_Weight  Shucked_Weight  \
Sex
F    0.579093  0.454732  0.158011      1.046532        0.446188
I    0.427746  0.326494  0.107996      0.431363        0.191035
M    0.561391  0.439287  0.151381      0.991459        0.432946

     Viscera_Weight  Shell_Weight      Rings
Sex
F          0.230689      0.302010  11.129304
I          0.092010      0.128182   7.890462
M          0.215545      0.281969  10.705497

In [13]:
abalone['Length_Cat']=np.where(abalone.Length>np.median(abalone.Length),
                               'Length_Long','Length_Short')
print(abalone[:10])

  Sex  Length   Diam  Height  Whole_Weight  Shucked_Weight  Viscera_Weight  \
0   M   0.455  0.365   0.095        0.5140          0.2245          0.1010
1   M   0.350  0.265   0.090        0.2255          0.0995          0.0485
2   F   0.530  0.420   0.135        0.6770          0.2565          0.1415
3   M   0.440  0.365   0.125        0.5160          0.2155          0.1140
4   I   0.330  0.255   0.080        0.2050          0.0895          0.0395
5   I   0.425  0.300   0.095        0.3515          0.1410          0.0775
6   F   0.530  0.415   0.150        0.7775          0.2370          0.1415
7   F   0.545  0.425   0.125        0.7680          0.2940          0.1495
8   M   0.475  0.370   0.125        0.5095          0.2165          0.1125
9   F   0.550  0.440   0.150        0.8945          0.3145          0.1510

   Shell_Weight  Rings    Length_Cat
0         0.150     15  Length_Short
1         0.070      7  Length_Short
2         0.210      9  Length_Short
3         0.155     10  Length_Short
4         0.055      7  Length_Short
5         0.120      8  Length_Short
6         0.330     20  Length_Short
7         0.260     16  Length_Short
8         0.165      9  Length_Short
9         0.320     19   Length_Long

In [14]:
print(abalone['Whole_Weight'].groupby([abalone['Sex'],abalone['Length_Cat']]).mean())

Sex  Length_Cat
F    Length_Long     1.261330
     Length_Short    0.589702
I    Length_Long     0.923215
     Length_Short    0.351234
M    Length_Long     1.255182
     Length_Short    0.538157
Name: Whole_Weight, dtype: float64

In [16]:
print(abalone.groupby(['Sex','Length_Cat'])['Whole_Weight'].mean())

Sex  Length_Cat
F    Length_Long     1.261330
     Length_Short    0.589702
I    Length_Long     0.923215
     Length_Short    0.351234
M    Length_Long     1.255182
     Length_Short    0.538157
Name: Whole_Weight, dtype: float64

In [17]:
for sex, group_data in abalone[['Sex','Length_Cat','Whole_Weight','Rings']].groupby('Sex'):
    print(sex)
    print(group_data[:5])

F
   Sex    Length_Cat  Whole_Weight  Rings
2    F  Length_Short        0.6770      9
6    F  Length_Short        0.7775     20
7    F  Length_Short        0.7680     16
9    F   Length_Long        0.8945     19
10   F  Length_Short        0.6065     14
I
   Sex    Length_Cat  Whole_Weight  Rings
4    I  Length_Short        0.2050      7
5    I  Length_Short        0.3515      8
16   I  Length_Short        0.2905      7
21   I  Length_Short        0.2255     10
42   I  Length_Short        0.0700      5
M
   Sex    Length_Cat  Whole_Weight  Rings
0    M  Length_Short        0.5140     15
1    M  Length_Short        0.2255      7
3    M  Length_Short        0.5160     10
8    M  Length_Short        0.5095      9
11   M  Length_Short        0.4060     10

In [24]:
for (sex,Length_Cat), group_data in abalone[['Sex','Length_Cat','Whole_Weight','Rings']].groupby(['Sex','Length_Cat']):
        print(sex)
        print(group_data[:5])

F
   Sex   Length_Cat  Whole_Weight  Rings
9    F  Length_Long        0.8945     19
22   F  Length_Long        0.9395     12
23   F  Length_Long        0.7635      9
24   F  Length_Long        1.1615     10
25   F  Length_Long        0.9285     11
F
   Sex    Length_Cat  Whole_Weight  Rings
2    F  Length_Short        0.6770      9
6    F  Length_Short        0.7775     20
7    F  Length_Short        0.7680     16
10   F  Length_Short        0.6065     14
13   F  Length_Short        0.6845     10
I
    Sex   Length_Cat  Whole_Weight  Rings
509   I  Length_Long        0.8735     16
510   I  Length_Long        1.1095     10
549   I  Length_Long        0.8750     11
550   I  Length_Long        1.1625     17
551   I  Length_Long        0.9885     13
I
   Sex    Length_Cat  Whole_Weight  Rings
4    I  Length_Short        0.2050      7
5    I  Length_Short        0.3515      8
16   I  Length_Short        0.2905      7
21   I  Length_Short        0.2255     10
42   I  Length_Short        0.0700      5
M
   Sex   Length_Cat  Whole_Weight  Rings
27   M  Length_Long        0.9310     12
28   M  Length_Long        0.9365     15
29   M  Length_Long        0.8635     11
30   M  Length_Long        0.9975     10
32   M  Length_Long        1.3380     18
M
   Sex    Length_Cat  Whole_Weight  Rings
0    M  Length_Short        0.5140     15
1    M  Length_Short        0.2255      7
3    M  Length_Short        0.5160     10
8    M  Length_Short        0.5095      9
11   M  Length_Short        0.4060     10

=============================================================

In [25]:
df=DataFrame([[1.4, np.nan],
               [7.1, -4.5],
               [np.nan, np.nan],
               [0.75, -1.3]],
              index=['a','b','c','d'],
              columns=['one','two'])

In [26]:
print(df)

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [27]:
print(df.sum(axis=0))

one    9.25
two   -5.80
dtype: float64

In [28]:
print(df.mean(axis=1,skipna=False))

a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64

In [29]:
print(df.idxmax())

one    b
two    d
dtype: object

=============================================================

In [30]:
db=json.load(open('database.json'))
print(len(db))

6636

In [31]:
print(db[0].keys())

dict_keys(['id', 'description', 'tags', 'manufacturer', 'group', 'portions', 'nutrients'])

In [33]:
print(db[0]['nutrients'][0]['value'])

25.18

In [34]:
nutrients=DataFrame(db[0]['nutrients'])
print(nutrients[:7])

                   description        group units    value
0                      Protein  Composition     g    25.18
1            Total lipid (fat)  Composition     g    29.20
2  Carbohydrate, by difference  Composition     g     3.06
3                          Ash        Other     g     3.28
4                       Energy       Energy  kcal   376.00
5                        Water  Composition     g    39.28
6                       Energy       Energy    kJ  1573.00

In [36]:
info_keys=['description','group','id','manufacturer']
info=DataFrame(db,columns=info_keys)
print(info[:5])

                          description                   group    id  \
0                     Cheese, caraway  Dairy and Egg Products  1008
1                     Cheese, cheddar  Dairy and Egg Products  1009
2                        Cheese, edam  Dairy and Egg Products  1018
3                        Cheese, feta  Dairy and Egg Products  1019
4  Cheese, mozzarella, part skim milk  Dairy and Egg Products  1028

  manufacturer
0
1
2
3
4

In [39]:
print(info['description'][:10])

0                                      Cheese, caraway
1                                      Cheese, cheddar
2                                         Cheese, edam
3                                         Cheese, feta
4                   Cheese, mozzarella, part skim milk
5     Cheese, mozzarella, part skim milk, low moisture
6                                       Cheese, romano
7                                    Cheese, roquefort
8    Cheese spread, pasteurized process, american, ...
9                          Cream, fluid, half and half
Name: description, dtype: object

In [40]:
print(info.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6636 entries, 0 to 6635
Data columns (total 4 columns):
description     6636 non-null object
group           6636 non-null object
id              6636 non-null int64
manufacturer    5195 non-null object
dtypes: int64(1), object(3)
memory usage: 207.5+ KB
None

In [41]:
print(pd.value_counts(info.group))

Vegetables and Vegetable Products    812
Beef Products                        618
Baked Products                       496
Breakfast Cereals                    403
Fast Foods                           365
Legumes and Legume Products          365
Lamb, Veal, and Game Products        345
Sweets                               341
Pork Products                        328
Fruits and Fruit Juices              328
Beverages                            278
Soups, Sauces, and Gravies           275
Finfish and Shellfish Products       255
Baby Foods                           209
Cereal Grains and Pasta              183
Ethnic Foods                         165
Snacks                               162
Nut and Seed Products                128
Poultry Products                     116
Sausages and Luncheon Meats          111
Dairy and Egg Products               107
Fats and Oils                         97
Meals, Entrees, and Sidedishes        57
Restaurant Foods                      51
Spices and Herbs                      41
Name: group, dtype: int64