# Functions of DataFrame 3

**결측치 제거**

In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame,Series
from datetime import datetime

In [2]:
df=DataFrame(np.random.randn(5,4), columns=['c1','c2','c3','c4'])
print(df)

         c1        c2        c3        c4
0 -0.608990 -0.082553  0.088005  0.671103
1  1.011288 -0.618925  0.135560  0.824541
2 -0.619586 -0.471067  0.171475  1.212771
3  0.317302  1.161943  2.380043  0.384641
4  0.522556 -1.752334 -0.402123 -2.502114

In [3]:
df.loc[2,'c2']=np.nan
df.loc[[0,1],'c1']=None
print(df)

         c1        c2        c3        c4
0       NaN -0.082553  0.088005  0.671103
1       NaN -0.618925  0.135560  0.824541
2 -0.619586       NaN  0.171475  1.212771
3  0.317302  1.161943  2.380043  0.384641
4  0.522556 -1.752334 -0.402123 -2.502114

In [5]:
df_drop_row=df.dropna(axis=0)
print(df_drop_row)

         c1        c2        c3        c4
3  0.317302  1.161943  2.380043  0.384641
4  0.522556 -1.752334 -0.402123 -2.502114

In [8]:
df_drop_column=df.dropna(axis=1)
print(df_drop_column)

         c3        c4
0  0.088005  0.671103
1  0.135560  0.824541
2  0.171475  1.212771
3  2.380043  0.384641
4 -0.402123 -2.502114

In [9]:
print(df['c1'].dropna())

2   -0.619586
3    0.317302
4    0.522556
Name: c1, dtype: float64

In [10]:
print(df[['c1','c2','c3']].dropna(axis=1))

         c3
0  0.088005
1  0.135560
2  0.171475
3  2.380043
4 -0.402123

In [11]:
print(df.loc[[2,4],['c1','c2','c3']].dropna(axis=0))

         c1        c2        c3
4  0.522556 -1.752334 -0.402123

============================================================

In [12]:
datestrs=['9/11/2018','9/13/2018','9/14/2018','9/20/2018']
dates=pd.to_datetime(datestrs)
print(dates)

DatetimeIndex(['2018-09-11', '2018-09-13', '2018-09-14', '2018-09-20'], dtype='datetime64[ns]', freq=None)

In [13]:
ts=Series([1,np.nan,np.nan,10],index=dates)
print(ts)

2018-09-11     1.0
2018-09-13     NaN
2018-09-14     NaN
2018-09-20    10.0
dtype: float64

In [14]:
ts_intp_linear=ts.interpolate(method='time')
print(ts_intp_linear)

2018-09-11     1.0
2018-09-13     3.0
2018-09-14     4.0
2018-09-20    10.0
dtype: float64

In [15]:
df=DataFrame({'c1':[1,np.nan,np.nan,10],
              'c2':[1,3,np.nan,10]})
df_v=df.interpolate(method='values')
print(df_v)

     c1    c2
0   1.0   1.0
1   4.0   3.0
2   7.0   6.5
3  10.0  10.0

============================================================

In [16]:
ser=Series([1,2,3,4,np.nan])
print(ser)

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
dtype: float64

In [17]:
ser=ser.replace(2,20)
print(ser)

0     1.0
1    20.0
2     3.0
3     4.0
4     NaN
dtype: float64

In [18]:
ser=ser.replace(np.nan,5)
print(ser)

0     1.0
1    20.0
2     3.0
3     4.0
4     5.0
dtype: float64

In [21]:
ser=Series([1,2,3,4,np.nan])
print(ser.replace([1,2,3,4,np.nan],[6,7,8,9,10]))

0     6.0
1     7.0
2     8.0
3     9.0
4    10.0
dtype: float64

In [22]:
print(ser.replace({1:6,2:8,3:9,4:7,np.nan:10}))

0     6.0
1     8.0
2     9.0
3     7.0
4    10.0
dtype: float64

============================================================

In [23]:
df=DataFrame({'c1':['a_old','b','c','d','e'],
             'c2':[1,2,3,4,5],
             'c3':[6,7,8,9,np.nan]})
print(df)

      c1  c2   c3
0  a_old   1  6.0
1      b   2  7.0
2      c   3  8.0
3      d   4  9.0
4      e   5  NaN

In [24]:
print(df.replace({'c1':'a_old'},{'c1':'a_new'}))

      c1  c2   c3
0  a_new   1  6.0
1      b   2  7.0
2      c   3  8.0
3      d   4  9.0
4      e   5  NaN

In [25]:
print(df.replace({'c3':np.nan},{'c3':10}))

      c1  c2    c3
0  a_old   1   6.0
1      b   2   7.0
2      c   3   8.0
3      d   4   9.0
4      e   5  10.0

============================================================

In [26]:
data={'key1':['a','b','b','c','c'],
      'key2':['v','w','w','x','y'],
      'col':[1,2,3,4,5]}
df=pd.DataFrame(data)
print(df)

  key1 key2  col
0    a    v    1
1    b    w    2
2    b    w    3
3    c    x    4
4    c    y    5

In [29]:
print(df.duplicated(['key1','key2']))

0    False
1    False
2     True
3    False
4    False
dtype: bool

In [30]:
print(df.drop_duplicates(['key1'],keep='first'))

  key1 key2  col
0    a    v    1
1    b    w    2
3    c    x    4

In [31]:
print(df.drop_duplicates(['key1'],keep='last'))

  key1 key2  col
0    a    v    1
2    b    w    3
4    c    y    5

In [32]:
print(df.drop_duplicates(['key1'],keep=False))

  key1 key2  col
0    a    v    1